{% layout "layout.liquid" %}
{% block content %}
<nav class="row black">
    <a href="/party"><button class='col s3'>PARTY</button></a>
    <a href="#"><button class='col s6'>Coming Soon</button></a>
    <a href="/user/logout"><button class='col s3'>LOGOUT</button></a>
</nav>
<div>
    <div class="row" id='options'>
        <div class="col s3"></div>
        <a href="/party/new"><button class='col s6'>Recruit</button></a>
        <div class="col s3"></div>
    </div>
    
    {% for char in party %}
        <div class='summary row'>
            <a href="/party/{{char._id}}"><div class="preview">
                <img src="{{char.img}}">
            </div></a>
            <div class='col s12'>
                <a href="/party/{{char._id}}"><h4 class='white'>{{char.name}}</h4></a>
                <div class='summary sumStats'>
                    <div class='indexStat white'>STR<br>{{char.stats.str}}</div>
                    <div class='indexStat white'>CON<br>{{char.stats.con}}</div>
                    <div class='indexStat white'>DEX<br>{{char.stats.dex}}</div>
                    <div class='indexStat white'>INT<br>{{char.stats.int}}</div>
                    <div class='indexStat white'>CHA<br>{{char.stats.cha}}</div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}